.amongus{
    font-size: 50px;
    color:blue;
}

.headings{
    color:aqua;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
}

.imagett{
    color:blue;
    font-size: small;
}

body{
    background-color: aliceblue;
}
