/*This is a CSS comment*/

/*Id is selected with #[idname]; class is selected with .[classname]*/
.amongus{
    font-size: 20px;
    color:blue;
    text-align: center;
}

.headings{
    color:aqua;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
}

.imagett{
    color:blue;
    font-size: small;
}

body{
    background-color: aliceblue;
}

.poem{
    text-align: left;
    color:red;
    outline: darkblue;

}

#idtest{
    text-align: center;
    white-space: normal; 
}